{% extends 'base_admin.html' %}

{%block main_content%}

<div class="card bg-dark" style="margin: 10px;">
    <div>
        <div>
            <form method="post">
                {{ ship_form.hidden_tag() }}
                {{ ship_form.x(max=(board.n - 1) , id = "xValue")}}
                {{ ship_form.y(max=(board.n - 1) , id = "yValue")}}
                {{ ship_form.prize() }}
                {{ ship_form.submit()}}
            </form>
            <div class="container bg-dark" style = "width : calc( 25px * {{size+1}}) ; height : calc(25px * {{size+1}});">
                <table class="table table-bordered border-light ;">
                    <tbody>
                    <thead>
                    <tr>
                        <th></th>
                        {% for i in range(size) %}
                        <th class="text-white" style="width: 25px; height: 25px;">{{i+1}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for y in range(size) %}
                    <tr>
                        <th class="text-white" style="width: auto; height: auto;">{{y+1}}</th>
                        {% for x in range(size) %}
                        <th class="text-white p-0" style="width: 25px;
                  height: 25px;">
                            <button style="width: auto; height: auto;" data-positionx={{x}} data-positiony={{y}}
                                    id="{{x+1}}{{y}}" onclick="fillFields(cid = {{x+1}}{{y}})">{{ board_render[y][x]}}
                            </button>
                        </th>
                        {% endfor %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <script>function fillFields(cid) {

                    var button = document.getElementById(cid);

                    var input_x = document.getElementById("xValue");
                    var input_y = document.getElementById("yValue");
                    input_y.value = button.getAttribute('data-positiony');
                    input_x.value = button.getAttribute('data-positionx');

                    }

            </script>
<style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            width: 25px;
            height: 25px;
            text-align: center;
        }

    </style>

        </div>
    </div>
</div>

{%endblock%}
