{% extends 'base_admin.html' %}
{%block main_content%}

{% if prizes%}
<div class="justify-content-center text-center">
    <style>

.gallery {
  column-count: 2;
  column-gap: 10px;
}

.gallery-img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

    </style>
<h1>Ваши призы</h1>
    <div class ="row justify-content-start text-white mt-5">
    {% for prize in prizes%}
    <div     class="col-3 mx-4 mt-3">
    <div class="galery">
        <div class="card flex-fill bg-dark align-items-center ">
            <p>{{prize[0]}}</p>
            <img src="static/avatars/{{prize[2]}}" class = "img-thumbnail align-self-center" style="width: 60% ; height : 10rem;" >
<!--            <img src="{{ url_for('static', filename='avatars/' + prize[2] )}}" class="img-thumbnail" />-->
            <div class="mx-4 ">
                <p class="">{{prize[1]}}</p>

            </div>
        </div>
      </div>
    </div>

    {%endfor%}
    </ul>
</div>
 <a class="btn btn-outline-light btn-lg btn-lg mt-5 px-5" href="{{ url_for('admin.add_prize') }}">Добавить приз</a>
</div>
{%elif not prizes%}
<div class="py-5 text-center">
    <h1>Добавьте приз</h1>
    <p class="lead mb-5">Вы пока еще не создали </p>
    <a class="btn btn-outline-light btn-lg btn-lg mt-5 px-5" href="{{ url_for('admin.add_prize') }}">Добавить приз</a>
</div>
{%endif%}
{%endblock%}